<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Vue</title>
</head>
<body>
    <div id="app">
     <ul>
    <comments v-for="comment in comments" :comment="comment"></comments>
     </ul>
        <textarea v-model="comment_text" rows="8" cols="50" @keyup.enter="postComment"></textarea>
    </div>
    <template id="comment-template">
    <div>
    <button type="button" v-on:click="tambah">+</button>
    <div>{{comment.body}} || {{comment.time}} || Score : {{score}}</div>
    <button type="button" @click="kurang">-</button>
    <br><br>
    </div>   
    </template>
    <script src="vue-script.js" charset="utf-8"></script>
    <script src="index.js" charset="utf-8"></script>
</body>
</html>